.employeeContainer {
  width: 100%;
  background-color: rgb(240, 229, 229);
}
.employee {
  display: flex;
  padding: 23px;
  padding-left: 40px;
}
.employeeImg {
  border-radius: 50%;
  width: 69%;
}
