* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
form{
  margin-bottom: 34px;
  width: 18%;
  height: 508px;
  margin-left: 41%;
  background-color: #ececec;
  border-radius: 23px;
  box-shadow: #777789 -1px 2px 14px;
}

input {
  height: 42px;
  border-radius: 8px;
  font-size: 14px;

}
.register-header h1 {
  margin-bottom: 23px;
}
.register-header span {
  font-size: 14px;
}
.register-fullname {
    margin: 24px 14px 12px 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.register-fullname input{
  width: 189px;
}
.register-imformation{
    display: flex;
    height: 43%;
    margin: 20px;
    margin-bottom: 9px;
    flex-direction: column;
    justify-content: space-around;
} 
.register-terms{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.register-terms label{
    margin-left: 4%;
}
form button{
    height: 43px;
    width: 204px;
    background-color: #48a048;
    border-radius: 10px;
    color: white;
}
button:disabled {
  background-color: gray;
  color: #d3d1d5;
  border: white;
}