.table-container {
  margin-left: 25%;
  margin-right: 25%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #a3d3a3;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #66cc59;
}

.addbook {
  margin-top: 38px;
}
